*.pyc

gtest/m4/lt*.m4
gtest/m4/libtool.m4
m4/lt*.m4
m4/libtool.m4

gtest/samples/sample*_unittest
gtest/scripts/gtest-config
gtest/test/fused_gtest_test
gtest/test/gtest_all_test

scripts/gmock-config
test/gmock*_test
