*.log
*.trs

t_action_pool
t_basesock
t_cache
t_comm
t_comm_exception
t_config_data
t_configdata
t_console
t_control
t_db
t_dgram
t_dgram_worker
t_font
t_game_obj
t_image
t_library
t_listensock
t_listensock_worker
t_log
t_logbuf
t_motion_pool
t_perl
t_sockaddr
t_socket
t_stream
t_stream_worker
t_tcl
t_tcl_exception
t_texture_parser
t_threadpool
t_update_pool
t_zone
