*.log
*.trs

t_action_pool
t_basesock
t_cache
t_comm
t_comm_exception
t_configdata
t_console
t_font
t_image
t_library
t_log
t_logbuf
t_motion_pool
t_perl
t_sockaddr
t_subserver
t_tcl
t_texture_parser
t_threadpool
t_update_pool
