*.[ao]
*.l[ao]
*.so
*.dylib
#*#
.#*
.DS_Store
*~
TAGS
.deps/
.gear/
.libs/
old/
server/r9d
server/r9subserver
client/r9client

server/classes/modules/perlxsi.c

# Automake
Makefile
Makefile.in
Makefile.orig

# Autoconf
.dirstamp
aclocal.m4
ar-lib
autom4te.cache
autoscan.log
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
libtool.m4
lt*.m4
missing
stamp-h*
test-driver
