/xerces-c.pc
/test-results.log
/doc/html/apiDocs-3/*-source.html
/doc/html/apiDocs-3/functions_0x*.html
/doc/html/apiDocs-3/functions_eval_0x*.html
/doc/html/apiDocs-3/functions_func_0x*.html
/doc/html/apiDocs-3/functions_vars_0x*.html
/doc/html/apiDocs-3/globals_0x*.html
/doc/html/apiDocs-3/globals_defs_0x*.html
/doc/html/apiDocs-3/tab_*.gif
/src/xercesc/util/Xerces_autoconf_config.hpp
/samples/CreateDOMDocument
/samples/DOMCount
/samples/DOMPrint
/samples/EnumVal
/samples/MemParse
/samples/PParse
/samples/PSVIWriter
/samples/Redirect
/samples/SAX2Count
/samples/SAX2Print
/samples/SAXCount
/samples/SAXPrint
/samples/SCMPrint
/samples/SEnumVal
/samples/StdInParse
/samples/XInclude
/tests/DOMMemTest
/tests/DOMTest
/tests/DOMTraversalTest
/tests/DOMTypeInfoTest
/tests/EncodingTest
/tests/InitTermTest
/tests/MemHandlerTest
/tests/NetAccessorTest
/tests/Normalizer
/tests/RangeTest
/tests/ThreadTest
/tests/XSTSHarness
/tests/XSValueTest
/tests/XSerializerTest
